<div [ngClass]="'skillsbody'">

    <div>
        <button [ngClass]="{'active': currentDiv === 'skill' + i}" *ngFor="let skill of skillInfo; let i = index" (click)="showTab('skill' + i)">Skill {{ i + 1 }}</button>
        <label [ngClass]="'checkbox'">
            <input (click)="toggleSkillDisplay()" type="checkbox">
            <span [ngClass]="'check'"></span>
             Show Skill Stats  
        </label>
    </div>

    

    <div *ngFor="let skill of skillInfo; let i = index">
        <div [ngClass]="{'hidden': currentDiv !== 'skill' + i}" class="skillinfo">

            <div [ngClass]="'skillinfotop'">
                <div [ngStyle]="{'display': 'flex'}">

                    <div [ngClass]="'skillinfotopleft'">
                        <img [ngClass]="'skillimg'"  *ngIf="$any(skill)['iconId'] !== null; else skillName" src="../../assets/img/skills/skill_icon_{{$any(skill)['iconId']}}.png">
                        <ng-template #skillName>
                            <img [ngClass]="'skillimg'" src="../../assets/img/skills/skill_icon_{{$any(skill)['skillId']}}.png" />
                        </ng-template> 
                        <div [ngClass]="'skillname'">{{$any(skill)['levels'][0]['name']}}</div>
                    </div>

                    <div [ngClass]="'skillinfotopright'">
                        <div [ngClass]="'spstart'">Starting SP: {{ skillDetail.initSp }}</div>
                        <div [ngClass]="'spcost'">Cost: {{ skillDetail.spCost }}</div>
                    </div>

                </div>
                <div [ngClass]="'skillinfoactiv'">
                    <div [ngClass]="['sptype' + skillDetail.spType, 'sp']">{{ spType[skillDetail.spType] }}</div>
                    <div [ngClass]="['skilltype', 'sp']">{{ skillType[skillDetail.skillType] }}</div>
                    <div *ngIf="skillDetail.duration > 0" [ngClass]="['skilltype', 'sp']">{{ skillDetail.duration }} Seconds</div>
                </div>
            </div>
            

            <app-operator-skills-level [skillDetailDisplay]="showSkillDetail" [skill]="skill" (currentLvl)="getSkillLvl($event)"></app-operator-skills-level>

        </div>
    </div>
</div>
