* {
    background-color: #2E2E2E;
    color: white;
}

button {
    border: none;
    padding: 5px;
    width: 60px;
}

.active {
    border-bottom: 2px solid white;
}

.hidden {
    display: none;
}

.skillinfotop {
    display: flex;
}

.skillinfotopleft {
    display: flex;
    padding: 10px;
    width: auto;
}

.skillinfotopright {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
}

.skillimg {
    height: 80px;
}

.skillname {
    font-size: larger;
    padding-left: 5px;
    align-self: center;
}

.skillsbody {
    box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
    padding: 5px;    
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

.sp {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-radius: 3px;
    width: fit-content;
}

.sptype1 { background-color: #69ca19; }
.sptype2 { background-color: #FC653E; }
.sptype4 { background-color: #FFB400; }
.sptype8 { background-color: #737373; }
.skilltype { background-color: #737373; }