* {
    background-color: #2E2E2E;
    color: white;
}

.potentials {
    box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
    padding: 10px;    
    border-radius: 6px;
    width: 250px;
}

.potential {
    display: flex;
    align-items: center;
    text-justify: center;
}

.pottext {
    padding-left: 3px;
    margin-bottom: 5px;
}