<div [ngClass]="'skilllvlbody'">

    <div [ngClass]="'tabs'">
        <button [ngClass]="{'active': currentDiv === $any(skill)['skillId'] + i}" *ngFor="let level of $any(skill)['levels']; let i = index" (click)="selectTab($any(skill)['skillId'] + i)" >Level {{ i + 1 }}</button>
    </div>
    
    <div class="skilldesc" *ngFor="let level of $any(skill)['levels']; let i = index" [id]="$any(skill)['skillId'] + i">
        <div [ngClass]="{'hidden': currentDiv !== $any(skill)['skillId'] + i}">

            <div [ngClass]="'skilltext'" [innerHtml]="this.sanitizer.bypassSecurityTrustHtml(parseSkillText(level))"></div>
        
            <div [ngClass]="'skillcost'" *ngIf="skillCostDisplay && i > 0">
                <div [ngClass]="'item'" *ngFor="let item of $any(items)[i - 1]['items']">
                    <img [ngClass]="'itemicon'" src="../../assets/img/items/{{ item['item']['iconId'] }}.png" />
                    <div>{{ item['count'] }}x {{ item['item']['name'] }}</div>
                </div>
            </div>

            <div [ngClass]="'skillstatrows'" *ngIf="skillDetailDisplay">
                <div [ngClass]="'skillstatentry'" *ngFor="let b of $any(level)['blackboard']"><span [ngClass]="'key'">{{ b['key'] }}</span> <span [ngClass]="'keyvalue'">{{ b['value'] }}</span> </div>
            </div>

        </div>
    </div>

    
</div>
