@font-face {
    font-family: 'roboto-condensed';
    src: url(../../assets/font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'roboto-condensed';
    src: url(../../assets/font/Roboto_Condensed/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'roboto-condensed';
    src: url(../../assets/font/Roboto_Condensed/RobotoCondensed-Italic.ttf);
    font-style: italic;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

* {
    font-family: 'roboto-condensed', sans-serif;
    font-size: large;
}

.opimgname {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
    padding: 5px;    
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
    margin-right: 50px;
}

button {
    font-size: medium;
}

body {
    background-color: #eeeeee;
    background: radial-gradient(#C2C2C2 2px, transparent 2px);
    background-size : 30px 30px;
    color: white;
    box-shadow: inset 2px 4px 80px 4px rgba(0, 0, 0, 0.582);
    animation: scrolling 70s linear infinite;
}

.opinfo {
    max-width: 500px;
    width: 100%;
}

.opdesc {
    background-color: #2E2E2E;
    box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
    padding: 12px;
    padding-left: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

.mainpanel {
    width: 80%;
    margin: auto;
}

.opimage {
    position: relative;
    height: 700px;
    width: auto;
    z-index: 4;
    left: 40px;
}

.opimages {
    background-color: rgb(59, 56, 56);
    box-shadow: inset 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
    height: 700px;
    width: 700px;
}

.opname {
    align-self: center;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    position: absolute;
    height: 300px;
    top: 60px;
    left: 40px;
    z-index: 0;
}

.highlight{
    color: rgb(0, 176, 255);
}

.mat-tab-label-active > .mat-tab-label-content {
    animation: fadeIn .7s;
}

.tab-content {
    display: flex;
    flex-direction: row;
    animation: fadeIn .2s;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.tooltip {
    position: relative;
    text-decoration-style: dotted;
}

.tooltip > .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: max-content;
    max-width: 200px;
    z-index: 1;
    background: #00B0FF;
    color: black;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;
    top: 100%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
}

.tooltip:hover > .tooltiptext {
    visibility: visible;
}

.tooltip:not(:hover) > .tooltiptext {
    visibility: hidden;
}

.ba\.kw { color: #00B0FF; }
.tu\.kw { color: #0098DC; }
.tu\.imp { color: #FF0000; }
.cc\.vup { color: #0098DC; }
.cc\.vdown { color: #FF6237; }
.cc\.rem { color: #F49800; }
.cc\.kw { color: #00B0FF; }
.ba\.vup { color: #0098DC; }
.ba\.vdown { color: #FF6237; }
.ba\.rem { color: #F49800; }
.ba\.kw { color: #00B0FF; }
.ba\.talpu { color: #0098DC; }
.ba\.xa { color: #FF0000; }
.ba\.xb { color: #FF7D00; }
.ba\.xc { color: #FFFF00; }
.ba\.xd { color: #00FF00; }
.ba\.xe { color: #00FFFF; }
.ba\.xf { color: #0291FF; }
.ba\.xg { color: #FF00FF; }
.eb\.key { color: #00FFFF; }
.eb\.danger { color: #FF0000; }
.ro\.get { color: #0098DC; }
.ro\.lose { color: #C82A36; }
.rolv\.rem { color: #FF4C22; }
.lv\.item { color: #FFFFFF; }
.lv\.rem { color: #FFFFFF; }
.lv\.fs { color: #FF0000; }
.lv\.sp { color: #fd4600; }
.lv\.ez { color: #0098dc; }
.ro1\.get { color: #E5B684; }
.rc\.title { color: #FFFFFF; }
.rc\.subtitle { color: #FFC90E; }
.rc\.em { color: #FF7F27; }
.rc\.eml { color: #32CD32; }
.ga\.title { color: #FFFFFF; }
.ga\.subtitle { color: #FFC90E; }
.ga\.up { color: #FF7F27; }
.ga\.adgacha { color: #00C8FF; }
.ga\.nbgacha { color: #00DDBB; }
.ga\.limadgacha { color: #FF7E1F; }
.ga\.percent { color: #FFD800; }
.ga\.attention { color: #FF3126; }
.attainga\.desc { color: #FF0000; }
.attainga\.desc2 { color: #FFD800; }
.attainga\.attention { color: #E1322C; }
.linkagega\.charname { color: #FFF6A9; }
.linkagega\.title { color: #FF8A00; }
.limtedga\.title { color: #FFFFFF; }
.limtedga\.subtitle { color: #FFC90E; }
.limtedga\.up { color: #FF7F27; }
.limtedga\.21 { color: #D7BCFF; }
.limtedga\.percent { color: #FFD800; }
.limtedga\.attention { color: #E1322C; }
.limtedga\.lattention { color: #FF9E58; }
.vc\.newyear10 { color: #FF3823; }
.vc\.adgacha { color: #0098DC; }
.vc\.attention { color: #FFD800; }
.act\.missiontips { color: #d9bd6a; }
.tu\.ht { color: #ff8d00; }
.act\.spreward { color: #FF5001; }
.act\.timelimit { color: #ffe300; }
.vc\.text { color: #898989; }
.vc\.endtime { color: #ff0327; }