<div class="mainpanel">
    <img class="opimage" src="../../assets/img/operators/{{$any(operator)['op']['id']}}_1.png" />

    <div>
        <h3>{{ $any(operator)['op']['info']['name'] }}</h3>
        <div class="desc" [innerHtml]="this.sanitizer.bypassSecurityTrustHtml(parseDescription($any(operator)['op']['info']['description']))"></div>
    </div>

    <div *ngIf="($any(operator)['altClass'] | json) !== '[]'">
        <div *ngFor="let op of $any(operator)['altClass']">
            {{ op['info']['position'] }}
        </div>
    </div>

    <div *ngIf="($any(operator)['altOps'] | json) !== '[]'">
        <div *ngFor="let op of $any(operator)['altOps']">
            {{ op['name'] }}
        </div>
    </div>

</div>
