@font-face {
    font-family: slim-sans-serif;
    src: url(../../assets/font/SlimSansSerif.ttf) format('truetype');
}

@font-face {
    font-family: slim-sans-serif;
    src: url(../../assets/font/SlimSansSerif-Bold.ttf) format('truetype');
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    font-family: 'slim-sans-serif', sans-serif;
    font-size: large;
}

.mainpanel {
    width: 80%;
    margin: auto;
}

.opimage {
    width: 60%;
}

.highlight{
    color: rgb(0, 176, 255);
}

.mat-tab-label-active > .mat-tab-label-content {
    animation: fadeIn .7s;
}

.tab-content {
    display: flex;
    flex-direction: row;
    animation: fadeIn .2s;
}