<div class="mainpanel">
    <img class="opimage" src="../../assets/img/operators/{{$any(operator)['id']}}_1.png" />
    
    <div>
        <h3>{{ $any(operator)['info']['name'] }}</h3>
        <div class="desc" [innerHtml]="this.sanitizer.bypassSecurityTrustHtml(parseDescription($any(operator)['info']['description']))"></div>
    </div>

    <div *ngIf="($any(operator)['altClass'] | json) !== '{}'">
        {{ $any(operator)['altClass']['info']['position'] }}
    </div>

    <div *ngIf="($any(operator)['altOps'] | json) !== '{}'">
        <div *ngFor="let op of $any(operator)['altOps']">
            {{ op['name'] }}
        </div>
    </div>

</div>
