.mainbody {
    background-color: #2E2E2E;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    padding-bottom: 3px;
}

.stats {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    margin: 4px auto auto 0px;
}

.slidercontainer {
    padding-left: 5px;
    padding-top: 8px;
}

.slider {
    appearance: none;
    width: 150px;
    height: 20px;
    opacity: 0.9;
    transition: opacity .2s;
    border-radius: 3px;
    padding: 2px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background-color: #2E2E2E; 
}

.level {
    padding-left: 10px;
    padding-top: 5px;
}

.details {
    display: flex;
}

.statcols {
    display: flex;
    align-self: center;
}

.statcol {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.statrow {
    display: flex;
    align-items: center;
    align-content: center;
}

.staticon {
    height: 15px;
    padding-left: 4px;
    padding-right: 2px;
}

.rangedetails {
    max-width: 100px;
    margin: 2px auto 2px 0px;
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
}

.rangedisplay {
    width: 100px;
    height: 100px;
    background-color: #2E2E2E;
    display: flex;
    align-items: center;
    margin: auto;
}

.rangegrid {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rangegridrow {
    display: flex;
}

.empty {
    height: 10px;
    width: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.attack {
    height: 10px;
    width: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border: 2px solid #828282;
}

.unit {
    height: 10px;
    width: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border: 2px solid white;
    background-color: white;
}

.levelinfo {
    display: flex;
    align-items: center;
    margin: 0px auto 3px 15px;
}

.rangeheader {
    background-color: white;
    color: #2E2E2E;
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.226);
}
