.navbar {
    background-color: #2E2E2E;
    height: 50px;
    box-shadow: 4px 4px 50px 3px rgba(0, 0, 0, 0.493);
}

.links {
    width: 500px;
    height: 100%;
    margin: auto;
    padding-top: 12px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:visited {
    color: white;
}