.rangeheader {
  background-color: white;
  color: #2e2e2e;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.226);
}

.rangedetails {
  max-width: 100px;
  margin: 2px auto 2px 0px;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.rangedisplay {
  width: 100px;
  height: 100px;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  margin: auto;
}

.rangegrid {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rangegridrow {
  display: flex;
}

.empty {
  height: 10px;
  width: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border: 2px solid transparent;
}

.attack {
  height: 10px;
  width: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border: 2px solid #828282;
}

.unit {
  height: 10px;
  width: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border: 2px solid white;
  background-color: white;
}
