<div [ngClass]="{ 'hidden': !skillCostDisplay || currentSkillLvl === 0, 'skillcosts': true }">
    <div [ngClass]="'costtitle'">Level {{ currentSkillLvl + 1 }} Upgrade Cost</div>

    <div [ngClass]="'items'">

        <div [ngClass]="{ 'hidden': currentSkill !== i }" *ngFor="let skillItems of $any(items); let i = index">
            <div [ngClass]="{ 'hidden': currentSkillLvl !== ii + 1 }" *ngFor="let itemLvl of skillItems; let ii = index">
                <div [ngClass]="'items'" *ngIf="currentSkillLvl > 0">

                    <div [ngClass]="'item'" *ngFor="let item of itemLvl['items']">
                        <div [ngClass]="'count'">{{ item['count'] }}x </div>
                        <img [ngClass]="'itemicon'" src="../../assets/img/items/{{ item['item']['iconId'] }}.png" />
                    </div>

                </div>
            </div>
        </div>

        

    </div>

</div>