.statrows {
    display: flex;
    flex-direction: column;
}

.traittalenttitle {
    width: fit-content;
    background-color: white;
    color: #2E2E2E;
    border: 2px solid white;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    font-size: large;
    padding: 1px 5px 1px 5px;
    margin-top: 10px;
}

.traittalenttdetails {
    border: 2px solid white;
    border-radius: 0px 5px 5px 5px;
    padding: 5px;
}

.statrows {
    display: flex;
    flex-direction: column;
}