.tags {
    background-color: #2E2E2E;
    box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    margin-left: 20px;
    width: 170px;
}