<div>
    <input [(ngModel)]="level" #ngVar="ngModel" (input)="updateStats()" (ngInit)="updateStats()" type="range" min="1" max="{{ $any(stats)['maxLevel'] }}" id="levelSlider">
    <div>
        <div>Level: {{ level }}</div>
        <span>HP: {{ $any(displayStats)['hp'] }}</span> <br>
        <span>Attack: {{ $any(displayStats)['atk'] }}</span> <br>
        <span>Defense: {{ $any(displayStats)['def'] }}</span> <br>
        <span>Resistance: {{ $any(displayStats)['res'] }}</span> <br>
        <span>Cost: {{ $any(displayStats)['cost'] }}</span> <br>
        <span>Block: {{ $any(displayStats)['block'] }}</span> <br>
        <span>Attack Time: {{ $any(displayStats)['atkTime'] }}</span> <br>
        <span>Respawn Time: {{ $any(displayStats)['respawn'] }}</span> <br>
    </div>
</div>