.empty {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.attack {
    padding-left: 8px;
    padding-right: 8px; 
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border: 2px solid lightblue;
}

.unit {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border: 2px solid red;
}