<div id="wrapper">
    <app-navbar></app-navbar>
    <h3>Operators</h3>

    <div [ngClass]="'searchcontainer'">
        <label for="search">Search: </label>
        <input id="search" [(ngModel)]="search">
    </div>

    <div [ngClass]="'operators'">
        <div *ngFor="let operator of operatorNames">
            <span>
                <a [ngClass]="{ 'hidden': search !== '' && !operator.toLowerCase().startsWith(search.toLowerCase()), 'operator': true }" [routerLink]="['/operator', operator]">
                    {{ operator }}
                </a> 
            </span>
        </div>
    </div>
    
</div>
