.fieldname {
    background-color: white;
    color: #2e2e2e;
    border-radius: 3px;
    padding: 1px;
    width: fit-content;
    margin-top: 1px;
}

.modulevalue {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}