* {
    background-color: #2E2E2E;
    color: white;
}

.hidden {
    display: none;
}

.tabs {
    padding: 5px;
    border-radius: 6px;
    box-shadow: 2px 4px 7px 3px rgba(0, 0, 0, 0.459);
}

.evocost {
    border-radius: 6px;
    margin-top: 12px;
}

button {
    border: none;
    padding: 5px;
    width: 60px;
    margin-bottom: none;
}

.active {
    border-bottom: 2px solid white;
}

.checkbox {
    display: block;
    position: relative;
    float: right;
    padding: 5px 5px 5px 20px;
    font-size: smaller;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked ~ .check {
        background-color: white;
    }
}


.check {
    position: absolute;
    margin-right: 10px;
    border: 2px solid white;
    width: 8px;
    height: 8px;
    left: 4px;
    top: 8px;
    border-radius: 3px;
    background-color: #2E2E2E;
}
